

<div mat-dialog-title>
    <h1 style="text-align: center;"><b>Remplir les champs</b></h1>
  </div>
  
  <form [formGroup]="ClientForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Nom de Tache</mat-label>
          <input matInput type="text" placeholder="Nom de Tache*" formControlName="name">
          <mat-error
            *ngIf="ClientForm.get('name')?.invalid && (ClientForm.get('name')?.dirty || ClientForm.get('name')?.touched)">
            <span *ngIf="ClientForm.get('name')?.errors?.['required']">Le nom est requis.</span>
            <span *ngIf="ClientForm.get('name')?.errors?.['pattern']">Le nom ne doit contenir que des lettres.</span>
            <span *ngIf="ClientForm.get('name')?.hasError('minlength')">Le nom doit contenir au moins 3 caractères.</span>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="nom-field ">
          <mat-label>Description</mat-label>
          <input matInput type="text" placeholder="Ex. Smith" formControlName="description">
          <mat-error
            *ngIf="ClientForm.get('description')?.invalid && (ClientForm.get('description')?.dirty || ClientForm.get('description')?.touched)">
            <span *ngIf="ClientForm.get('description')?.errors?.['required']">Le prénom est requis.</span>
            <span *ngIf="ClientForm.get('description')?.errors?.['pattern']">Le prénom ne doit contenir que des lettres.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <br>
  
      <div class="column w-full">
        <mat-form-field appearance="outline">
          <mat-label>Date Début</mat-label>
          <input matInput type="date" id="dateDebut"  formControlName="dateDebut">
          <mat-error
            *ngIf="ClientForm.get('dateDebut')?.invalid && (ClientForm.get('dateDebut')?.dirty || ClientForm.get('dateDebut')?.touched)">
            <span *ngIf="ClientForm.get('dateDebut')?.errors?.['required']">La date de début est requis.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="nom-field">
          <mat-label>Date Fin</mat-label>
          <input matInput type="date"  formControlName="dateFin">
          <mat-error
            *ngIf="ClientForm.get('dateFin')?.invalid && (ClientForm.get('dateFin')?.dirty || ClientForm.get('dateFin')?.touched)">
            <span *ngIf="ClientForm.get('dateFin')?.errors?.['required']">La date de fin est requise.</span>
          </mat-error>
        </mat-form-field>
        </div>
  
        <div class="column">
        
            <mat-form-field>
              <mat-select placeholder="Status de Tache" formControlName="statusTask">
                <mat-option *ngFor="let type of statusTask" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error
              *ngIf="ClientForm.get('statusTask')?.invalid && (ClientForm.get('statusTask')?.dirty || ClientForm.get('statusTask')?.touched)">
              <span *ngIf="ClientForm.get('statusTask')?.errors?.['required']">Type de contact est requis.</span>
            </mat-error>
            </mat-form-field>
         
    
            <mat-form-field>
              <mat-select placeholder="Type d'activité" formControlName="typeActivity">
                <mat-option *ngFor="let prio of typeActivity" [value]="prio.value">
                  {{ prio.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error
              *ngIf="ClientForm.get('typeActivity')?.invalid && (ClientForm.get('typeActivity')?.dirty || ClientForm.get('typeActivity')?.touched)">
              <span *ngIf="ClientForm.get('typeActivity')?.errors?.['required']">Type de contact est requis.</span>
            </mat-error>
            </mat-form-field>
        </div>
      </div>
  
      <br>
    
  
    <div mat-dialog-actions class="action">
  
      <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Enregistrer'}}</button>
    </div>
  
  </form>