<div class="parent"> 

    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
      
        <div class="form-container sign-up">
            <form [formGroup]="signUpForm">
              <h1><b>Créer compte</b></h1>
              <br>
              <span>Remplir les champs svp</span>
              <input type="text" name="nom d'utilisateur" placeholder="Nom d'utilisateur" formControlName="username" autocomplete="off" >
              
              <div *ngIf="!signUpForm.pristine && signUpForm.controls['username'].errors?.['required']">
              </div>
              <input type="text" name="Nom et prénom" placeholder="Nom et prénom" formControlName="fullName" autocomplete="off" >
              
              <div *ngIf="!signUpForm.pristine && signUpForm.controls['fullName'].errors?.['required']">
              </div>

              <div class="text-danger" *ngIf="!signUpForm.pristine && signUpForm.controls['username'].errors?.['minlength']">
                <span class="mb-0">Le nom d'utilisateur doit avoir au moins 4 caractères</span>
              </div>
              <div class="column" style="width: 100%;">
              <mat-form-field>
                <mat-select placeholder="Role" formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{ role.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="signUpForm.get('statusProspect')?.invalid && (signUpForm.get('statusProspect')?.dirty || signUpForm.get('statusProspect')?.touched)">
                <span *ngIf="signUpForm.get('statusProspect')?.errors?.['required']">Role est requis.</span>
              </mat-error>
              </mat-form-field>
            </div>
              <input type="text" name="email" placeholder="Email" formControlName="email" autocomplete="off">
              <mat-error
          *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
          <span *ngIf="signUpForm.get('email')?.errors?.['required']">L'email est requis.</span>
          <span *ngIf="signUpForm.get('email')?.errors?.['email']">L'email n'est pas valide.</span>
        </mat-error>

              <div class="password-container">
                <input type="{{ showPassword ? 'text' : 'password' }}" name="password" id="password" placeholder="Mot de passe"  formControlName="password">
                <span class="toggle-password" (click)="basculerVisibiliteMotDePasse()">
                    <i class="fa" [ngClass]="{'fa-eye': isPasswordVisible(), 'fa-eye-slash': !isPasswordVisible()}" aria-hidden="true"></i>
                </span> 
              </div>
              
              <div class="text-danger" *ngIf="!signUpForm.pristine && signUpForm.controls['password'].errors?.['minlength']">
                <span class="mb-0">Le mot de passe doit avoir au moins 8 caractères</span>
              </div>
              <button type="submit" (click)="SignUp()">S'inscrire</button>
            </form>
          </div>
         
          
        <div class="form-container sign-in" >
            <form [formGroup]="signInForm" (submit)="SignIn()">
                <h1><b>Se connecter</b></h1>
                <br>
                <span>Remplir les champs</span>
                <input type="text"  placeholder="Nom d'utilisateur" formControlName="un" >
                <div class="password-container">
                  <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Mot de passe" formControlName="pass" >
                  <span class="toggle-password" (click)="basculerVisibiliteMotDePasse()">
                    <i class="fa" [ngClass]="{'fa-eye': isPasswordVisible(), 'fa-eye-slash': !isPasswordVisible()}" aria-hidden="true"></i>
                  </span>
                </div>
                <a href="#">→ Mot de passe oublié? ←</a>
                <button type="submit">Se connecter</button>
              </form>              
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1><b>Salut!</b></h1>
                    <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Se connecter</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1><b>Salut!</b></h1>
                    <p>Inscrivez-vous avec vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
                    <button type="button" class="hidden" id="register"(click)="isSignDivVisiable = true" >S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
</div>